body {
  font: normal normal medium 64px/82px FreightBig Pro;
  background-image: url("../images/back/back.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.blog {
  height: fit-content;
  width: 100vw;
  margin-top: 20vh;
}

.blog .container {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
/* ////////////////////////////////////////////////////// */
/* navigation portion */
.blog .container .navigation {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 2.5vh;
  margin-bottom: 2.5vh;
}
.blog .container .navigation .backbtn {
  width: 12vw;
}
.blog .container .navigation h2 {
  margin: 0;
  font-size: 3vw;
  color: white;
}
.blog .container .navigation .searchForm {
  display: inline-flex;
  align-items: center;
}
.blog .container .navigation .search {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 2vw;
  width: 14vw;
}
.blog .container .navigation .search::placeholder {
  font-size: 2vw;
  color: white;
}
.blog .container .navigation .search-icon {
  width: 4vw;
}

/* ///////////////////////////////////////////////////// */
/* content portion */
.blog .container .content {
  display: inline-flex;
}
.blog .container .content .left {
  width: 65%;
}
.blog .container .content .right {
  width: 35%;
}
.blog .container .content .left h4 {
  font-size: 3.5vw;
  color: white;
  margin: 0 0 2.5vh 0;
}
.filter {
  font-size: 3vw;
  color: white;
  background: black;
  border: 1px solid #e8be4c;
  border-radius: 0;
  padding: 1vw 1.5vw;
}
/* post container */
.blog .postcontainer {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
}
.blog .postcontainer .post {
  border: 1px solid #e8be4c;
  background: black;
  height: 11vw;
  width: 25vw;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0 2vw 2vw 0;
}
.blog .postcontainer .post img {
  width: 10vw;
  height: 6vw;
}
.blog .postcontainer .text {
  color: white;
  align-items: self-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
  font-size: 1.5vw;
  text-align: left;
}
.blog .postcontainer .text .date {
  font-size: 1vw;
}
.blog .postcontainer .text .desc {
  font-size: 1.5vw;
}

/* right side start */
.blog .container .content .right {
  width: 35%;
  background-color: black;
  border: 1px solid #e8be4c;
  padding: 1vw;
}
.blog .container .content .right h2 {
  margin: 0;
  color: white;
  font-size: 2vw;
  border-bottom: 1px solid white;
  padding: 1vw 0 1vw 0;
  margin-bottom: 2vh;
}
.blog .container .content .right .desc {
  color: white;
  font-size: 1.5vw;
}
.blog .container .content .right form {
  margin-top: 2vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog .container .content .right form .name {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}
.iname {
  width: 30%;
}
.email {
  width: -webkit-fill-available;
  margin-bottom: 2vh;
}
select {
  width: 60%;
}
.checkbox {
  color: white;
  font-size: 1.25vw;
  width: 60%;
  margin-left: 2vw;
  margin-bottom: 2vh;
}
.cpta {
  width: 100%;
  height: 5vw;
}
.SubmitBtn {
  width: 15vw;
  margin-top: 2vh;
}
.warning {
  color: white;
  font-size: 1.25vw;
  width: 50%;
  margin-top: 2vh;
}
.imgContainer {
  width: 129%;
  position: relative;
}
.bourbon {
  width: 12vw;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -5vh;
}
.orange {
  color: #e8be4c;
}
/* ///////////////////////////////////////////////////// */
/* presets */
button {
  background: none;
  border: none;
}
.orange {
  color: #e8be4c;
}
.inputStyle {
  background-color: black;
  border: 1px solid #e8be4c;
  border-radius: 0;
  padding: 1.5vw;
  color: gray;
  font-size: 1.25vw;
}
.inputStyle::placeholder {
  font-size: 1.25vw;
  color: gray;
}
@media screen and (max-width: 770px) {
  .blog .container .navigation .backbtn {
    width: 18vw;
  }
  .blog .container .navigation h2 {
    font-size: 5vw;
  }
  .blog .container .navigation .search {
    width: 18vw;
  }
  .blog .content {
    flex-direction: column;
  }
  .blog .container .content .right {
    width: auto;
  }
  .blog .container .content .right h2 {
    font-size: 5vw;
  }
  .blog .container .content .right .desc {
    font-size: 3vw;
  }
  .inputStyle {
    font-size: 2.5vw;
  }
  .inputStyle::placeholder {
    font-size: 2.5vw;
  }
  .iname {
    width: 40%;
  }
  select {
    width: 25%;
  }
  .checkbox {
    width: 60%;
    font-size: 2.25vw;
  }
  .cpta {
    width: 40%;
  }
  .SubmitBtn {
    width: 22vw;
  }
  .warning {
    font-size: 2.25vw;
  }
  .imgContainer {
    width: 100%;
  }
  .bourbon {
    width: 20vw;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -15vw;
  }
  .blog .container .content .left {
    width: 100%;
  }
  .blog .postcontainer {
    height: 67vh;
    overflow: scroll;
  }
  .blog .postcontainer .post {
    margin-right: 0;
    width: 100%;
    height: 30vw;
  }
  .blog .postcontainer .post img {
    width: 50vw;
    height: 26vw;
  }
  .blog .postcontainer .text .date {
    font-size: 4vw;
  }
  .blog .postcontainer .text .desc {
    font-size: 7.5vw;
  }
}
@media screen and (max-width: 450px) {
  .blog .container .navigation {
    flex-direction: column;
    height: 25vh;
  }
  .blog .container .navigation .backbtn {
    width: 40vw;
  }
  .blog .container .navigation h2 {
    font-size: 9vw;
  }
  .blog .container .navigation .search {
    width: 70vw;
    font-size: 7vw;
  }
  .blog .container .navigation .search::placeholder {
    font-size: 7vw;
  }
  .blog .container .navigation .search-icon {
    width: 11vw;
  }
  .blog .postcontainer {
    height: fit-content;
    overflow: unset;
  }
  /* next section */
  .blog .container .content .left h4 {
    font-size: 7.5vw;
    text-align: center;
  }
  .filter {
    font-size: 7.5vw;
  }
  /* next section */
  .blog .container .content .right form {
    margin: 2vh auto 0;
    align-items: center;
  }
  .blog .container .content .right h2 {
    font-size: 6vw;
  }
  .blog .container .content .right .desc {
    font-size: 4vw;
  }
  .blog .container .content .right form .name {
    flex-direction: column;
    width: 100%;
  }
  .iname {
    width: auto;
  }
  .t {
    margin-bottom: 2vh;
  }
  .inputStyle {
    font-size: 7.5vw;
  }
  .inputStyle::placeholder {
    font-size: 7vw;
  }
  select {
    width: 100%;
  }
  .imgContainer {
    width: 116%;
    display: none;
  }
  .bourbon {
    width: 27vw;
    margin-bottom: -34vw;
  }
  .checkbox {
    width: 100%;
    font-size: 4.25vw;
  }
  input[type="checkbox"] {
    align-self: baseline;
  }
  .cpta {
    width: 76%;
    height: 11vw;
  }
  .SubmitBtn {
    width: 40vw;
  }
  .warning {
    font-size: 4.25vw;
    width: 75%;
  }
}
/* footer start */
footer {
  height: fit-content;
  width: 100vw;
  margin-top: 10vh;
}

.bottom_nav {
  height: 10vh;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: transparent
    linear-gradient(180deg, #000000 0%, #323232 50%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-top: 1px solid #e8be4c;
}
.bottom_nav .container {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.bottom_nav .container img {
  width: 15vh;
  margin: 0 3vw 9vh 2vw;
}
.bottom_nav .container-right {
  width: 45%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.bottom_nav .left_text {
  font: normal normal 300 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.text-style {
  font: normal normal bold 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.owned {
  align-items: center;
  height: 90%;
  border-right: 1px solid white;
  display: flex;
  padding-right: 1vw;
}
.location {
  overflow-wrap: break-word;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .bottom_nav {
    flex-direction: column;
    height: fit-content;
  }
  .bottom_nav .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .container img {
    margin: -9vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
  }
  .bottom_nav .left_text {
    font-size: 2vw;
  }
  .owned {
    width: 80%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 0 0 1vh 0;
    justify-content: center;
    font-size: 1.5vw;
  }
  .location {
    text-align: center;
    font-size: 1.5vw;
    width: 70%;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 480px) {
  .bottom_nav {
    flex-direction: column;
    height: 26vh;
  }
  .bottom_nav .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .container img {
    width: 10vh;
    margin: -7vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
    width: 70%;
  }
  .bottom_nav .left_text {
    font-size: 4vw;
  }
  .owned {
    font-size: 3.5vw;
    width: 100%;
  }
  .location {
    font-size: 3.5vw;
    width: 100%;
  }
}

/* mobile */
@media screen and (orientation: landscape) and (max-height: 430px) and (max-width: 915px) {
  .blog {
    margin-top: 31vh;
  }
}
