/* scroll to top button style #myBtn {
  display: none;
  position: fixed;
  bottom: 13vh;
  right: 1vw;
  z-index: 99;
  opacity: 0.9;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  width: 3vw;
}
#myBtn img {
  height: auto;
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
}
.rectangleTop {
  width: 100%;
  height: 50%;
  opacity: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 2;
}


header {
  width: 100%;
  height: 13vh;
  opacity: 1;
  z-index: 2;
  position: fixed;
  top: 0;
}
nav {
  width: 100%;
  height: 45%;
  background: transparent
    linear-gradient(180deg, #000000 0%, #323232 50%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-top: 4px solid #e8be4c57;
  border-bottom: 4px solid #e8be4c57;
  z-index: 2;
}
a:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
.logo {
  width: 10vw;
  height: 10vh;
}
nav .LogoImg {
  width: 8vw;
  height: 9vw;
  position: relative;
}
nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
}
nav li {
  width: 14%;
}
nav li a {
  font-size: 1.7vw;
  text-align: center;
  line-height: 43px;
  color: #e8be4c;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.hamburger {
  display: none;
}
.hamburgerLogo {
  display: none;
}
.mobilemenu {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 12vw;

  border-radius: 0 0 20px 20px;
  border: 1px solid #e8be4c;
}


.dropdown-content a {
  display: inline-flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  color: #e8be4c;
  padding: 2vh 1vw;
  text-decoration: none;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}
.arrowUp {
  width: 1vw;
  align-self: center;
  display: none;
}
.arrowDown {
  width: 1vw;
  align-self: center;
  display: none;
}
.active {
  display: flex;
}
.glass {
  height: 4vh;
  width: 2vw;
}


@media screen and (max-width: 770px) {
  nav {
    height: 100px;
    border-top: none;
  }
  nav ul {
    display: none;
  }
  nav li {
    width: 60%;
  }
  .mobilemenu {
    display: inline-flex;
  }
  nav li {
    width: 80%;
  }
  .hamburgerLogo {
    display: block;
    height: 10vh;
    width: auto;
    margin-left: 4vw;
    display: block;
  }
  .hamburger {
    display: block;
    height: 5vh;
    margin-right: 4vw;
  }
  .rectangleTop {
    display: none;
  }
}

.mobileNav {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: none;
  position: fixed;
  top: 104px;
  overflow: scroll;
}
.mobileUl {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 8vh;
}

.mobileNav a {
  font-size: 5vw;
  line-height: 7vh;
}
@media screen and (orientation: landscape) and (max-height: 430px) and (max-width: 770px) {
  .mobileNav a {
    line-height: 12vh;
    font-size: 4vw;
  }
} */

/* scroll to top button style */
#myBtn {
  display: none;
  position: fixed;
  bottom: 13vh;
  right: 1vw;
  z-index: 2;
  opacity: 0.9;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  width: 30px;
}
#myBtn img {
  height: auto;
  width: 100%;
}
/* nav */

.rectangleTop {
  width: 100%;
  height: 50%;
  opacity: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 2;
}
/* buy now animation */
.navBuy {
  height: 115%;
  position: relative;
}
.navBuy .backBuy {
  width: 100%;
  height: 100%;
}
.navBuy .navBourbon {
  height: 90px;
  position: absolute;
  left: 10px;
  top: -35px;
}
.navBuy .buyOn {
  position: absolute;
  width: 70%;
  top: 14px;
  right: 10px;
}
.liquid {
  width: 100%;
  position: absolute;
  right: 1px;
}
.liquidMask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-mask-image: radial-gradient(
    circle,
    black 50%,
    rgba(0, 0, 0, 0.5) 50%
  );

  mask-image: url("../images/LiquidMask.svg");
  /* -webkit-mask-repeat: no-repeat; */
  /* mask-repeat: no-repeat;
  mask-image: url("../images/LiquidMask.svg"); */
}
.buyOnlineAnimation {
  width: 100%;
  position: absolute;
  z-index: 9;
  height: 100%;
}
.BuyOnline {
  position: absolute;
  top: 0;
}
.navBuy .buyOn:hover {
  animation: rightNav 3s;
  animation-iteration-count: 1;
}
@keyframes rightNav {
  from {
    top: 14px;
  }
  to {
    top: 5px;
  }
}

/* nav bars */
header {
  width: 100%;
  height: 100px;
  opacity: 1;
  z-index: 2;
  position: fixed;
  top: 0;
}
nav {
  width: 100%;
  height: 45%;
  background: transparent
    linear-gradient(180deg, #000000 0%, #323232 50%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-top: 4px solid #e8be4c57;
  border-bottom: 4px solid #e8be4c57;
  z-index: 2;
}
a:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
nav .LogoImg {
  width: 110px;
  position: absolute;
  z-index: 99;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
nav li {
  width: 14%;
  height: 100%;
  position: relative;
}
nav li a {
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #e8be4c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  display: none;
}
.hamburgerLogo {
  display: none;
}
.mobilemenu {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* The dropdown container */
.dropdown {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  border-radius: 0 0 20px 20px;
  border: 1px solid #e8be4c;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: inline-flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  color: #e8be4c;
  padding: 2vh 1vw;
  text-decoration: none;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.arrowUp {
  width: 1vw;
  align-self: center;
  display: none;
}
.arrowDown {
  width: 1vw;
  align-self: center;
  display: none;
}
.active {
  display: flex;
}
.glass {
  height: 4vh;
  width: 2vw;
}

/* int menu start */
.intMenu {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.intMenu a {
  height: 100%;
}
.intMenu .navBuy {
  top: -4px;
}
/* int menu end */
/* media quiries nav bar */
@media screen and (max-width: 1180px) {
  nav ul {
    display: none;
  }
  nav .intUl {
    display: inline-flex;
    justify-content: space-between;
  }
  .intMenu {
    display: block;
    width: 100%;
    width: 100%;
  }
  .hamburgerLogo {
    display: block;
    height: 10vh;
    width: auto;
    margin-left: 4vw;
    display: block;
  }
  .hamburger {
    display: block;
    height: 90%;
    margin-right: 10px;
    float: right;
  }
  .firstList {
    margin-left: 10px;
    width: 170px;
  }
  .lastList {
    width: 170px;
  }
  .intMenu .navBuy {
    top: 0;
  }
}
@media screen and (max-width: 780px) {
  .intMenu {
    display: none;
  }
  nav {
    height: 100px;
    border-top: none;
  }
  nav ul {
    display: none;
  }
  nav li {
    width: 60%;
  }
  .mobilemenu {
    display: inline-flex;
  }
  .hamburgerLogo {
    display: block;
    height: 10vh;
    width: auto;
    margin-left: 4vw;
    display: block;
  }
  .hamburger {
    display: block;
    height: 5vh;
    margin-right: 4vw;
  }
  .rectangleTop {
    display: none;
  }
}

/* mobile nav */
.mobileNav {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: none;
  position: fixed;
  top: 104px;
  overflow: scroll;
  z-index: 1;
  animation: dropNav 2s;
}
.mobileUl {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 8vh;
}
.mobileNav li {
  width: 80%;
  height: 9vh;
  min-height: 50px;
}
.mobileNav a {
  width: 60%;
  font-size: 4vw;
  line-height: 7vh;
  margin: 0 auto;
}

/* animations */

@keyframes dropNav {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes raiseNav {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
