body {
  background-image: url("../images/news_bck-2/news_bck.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team {
  width: 100vw;
  margin: 20vh 0;
}
.team .container {
  padding: 3vw;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e8be4c;
  background-color: black;
  height: fit-content;
  opacity: 0.9;
}
.team .container h2 {
  color: #e8be4c;
  font-size: 26px;
  margin: 0;
  text-align: center;
}
.team .container .block {
  border: 1px solid #e8be4c;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  text-align: center;
}
.team .container .people-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.team .container .people {
  margin: 30px;
}
.team .name {
  color: #e8be4c;
  font-size: 20px;
  text-align: center;
  padding: 1vw;
}
.team .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3vw;
}
.team .barrel {
  width: 110%;
}
.team .position {
  color: #000;
  font-size: 22px;
  width: 100px;
  position: absolute;
}
@media screen and (max-width: 770px) {
}
/* footer start */
footer {
  height: fit-content;
  width: 100vw;
}

.bottom_nav {
  height: 10vh;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: transparent
    linear-gradient(180deg, #000000 0%, #323232 50%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-top: 1px solid #e8be4c;
}
.bottom_nav .container {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.bottom_nav .container img {
  width: 15vh;
  margin: 0 3vw 9vh 2vw;
}
.bottom_nav .container-right {
  width: 45%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.bottom_nav .left_text {
  font: normal normal 300 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.text-style {
  font: normal normal bold 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.owned {
  align-items: center;
  height: 90%;
  border-right: 1px solid white;
  display: flex;
  padding-right: 1vw;
}
.location {
  overflow-wrap: break-word;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .bottom_nav {
    flex-direction: column;
    height: fit-content;
  }
  .bottom_nav .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .container img {
    margin: -9vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
  }
  .bottom_nav .left_text {
    font-size: 2vw;
  }
  .owned {
    width: 80%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 0 0 1vh 0;
    justify-content: center;
    font-size: 1.5vw;
  }
  .location {
    text-align: center;
    font-size: 1.5vw;
    width: 70%;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 480px) {
  .bottom_nav {
    flex-direction: column;
    height: 26vh;
  }
  .bottom_nav .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .container img {
    width: 10vh;
    margin: -7vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
    width: 70%;
  }
  .bottom_nav .left_text {
    font-size: 4vw;
  }
  .owned {
    font-size: 3.5vw;
    width: 100%;
  }
  .location {
    font-size: 3.5vw;
    width: 100%;
  }
}

/* mobile */
@media screen and (orientation: landscape) and (max-height: 430px) and (max-width: 915px) {
  .team {
    margin-top: 31vh;
  }
}
