body {
  background-color: black;
}
/* main stylings */

.whiskey {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-image: url("../images/news_bck-2/news_bck.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.whiskey .container {
  width: 70%;
  height: 100vh;
  margin: 15vh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}
.whiskey .main {
  width: 80%;
  height: fit-content;
  margin: 5vw auto 0;
  padding: 2vw;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid #e8be4c;
  background: linear-gradient(to top, rgb(59, 59, 59), #000);
}
.whiskey .main .bottle {
  width: 25vw;
  height: 35vw;
  margin-top: -5vw;
  margin-right: 2vw;
}
.whiskey .main .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.award {
  width: 80%;
  margin-top: 3vw;
  display: inline-flex;
  justify-content: space-between;
  align-self: end;
}
/* left side of the award section */
.award .left {
  display: inline-flex;
  align-items: center;
}
.award img {
  width: 10vw;
  margin-right: 1.5vw;
}

.awardText {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.SilverMedal {
  color: white;
  text-align: left;
  font: normal normal normal 1.5vw FreightBig Pro;
}

.SpiritsComp {
  font: normal normal normal 1.25vw FreightBig Pro;
  color: #e8be4c;
  opacity: 1;
}
/* recipes section */
.recipes {
  width: 85%;
  height: fit-content;
  margin: 5vw auto 0;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes .recipesBtn {
  font-size: 2vw;
  color: white;
  border: 1px solid #e8be4c;
  padding: 1vw 2vw;
  background: black;
  text-transform: uppercase;
}
.mixContainer {
  background: linear-gradient(to top, #e8be4c, #000 40%);
  border: 1px solid #e8be4c;
  display: inline-flex;
  margin: 5vw 0;
  padding: 2vw;
  height: fit-content;
}
.whiskey .mixContainer .bottle {
  width: auto;
  height: 25vw;
  margin-right: 2vw;
  justify-self: end;
  align-self: end;
}
.whiskey .mixContainer .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.whiskey .mixContainer li {
  margin-bottom: 2vw;
}
.arrow {
  align-items: center;
  right: 0;
  width: 10vw;
  position: absolute;
  float: right;
  top: 38vh;
  display: flex;
  flex-direction: column;
}
.arrow span {
  color: white;
  font-size: 2vw;
  align-self: initial;
}
.arrow img {
  width: 50%;
}
/* presets /////////////////////////////////////////// */
.title {
  color: #e8be4c;
  width: 40vw;
  font-size: 3vw;
  border-bottom: 1px solid white;
  padding-bottom: 1vw;
}
.par {
  color: white;
  font-size: 1.5vw;
  margin-top: 2vw;
}

@media screen and (max-width: 770px) {
  .whiskey .container {
    width: 95%;
  }
  .title {
    width: 58vw;
    font-size: 4vw;
  }
  .par {
    font-size: 2vw;
  }
  .arrow {
    align-items: center;
    width: 20vw;
    position: static;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  .arrow span {
    font-size: 4vw;
  }
}
@media screen and (max-width: 570px) {
  .whiskey .main {
    flex-direction: column;
  }
  .whiskey .mixContainer {
    flex-direction: column;
  }
  .title {
    width: 100%;
    font-size: 5vw;
  }
  .par {
    font-size: 3vw;
  }
  .whiskey .main .bottle {
    height: auto;
    align-self: center;
    margin: 0;
  }
  .SilverMedal {
    font-size: 3.5vw;
  }
  .SpiritsComp {
    font-size: 3.25vw;
  }
  .whiskey .mixContainer .bottle {
    align-self: center;
    height: auto;
    margin: 0;
    width: 50vw;
  }
  .whiskey .mixContainer .text {
    width: 80vw;
  }
  .recipes .recipesBtn {
    font-size: 4vw;
  }
}
@media screen and (orientation: landscape) and (max-height: 430px) and (max-width: 760px) {
  .whiskey .container {
    margin-top: 31vh;
  }
}
/* footer start */
footer {
  height: fit-content;
  width: 100vw;
  margin-top: 10vh;
}

.bottom_nav {
  height: 10vh;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: transparent
    linear-gradient(180deg, #000000 0%, #323232 50%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-top: 1px solid #e8be4c;
}
.bottom_nav .footcontainer {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.bottom_nav .footcontainer img {
  width: 15vh;
  margin: 0 3vw 9vh 2vw;
}
.bottom_nav .container-right {
  width: 45%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.bottom_nav .left_text {
  font: normal normal 300 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.text-style {
  font: normal normal bold 1vw FreightBig Pro;
  letter-spacing: 0px;
  color: #e8be4c;
  text-transform: uppercase;
}
.owned {
  align-items: center;
  height: 90%;
  border-right: 1px solid white;
  display: flex;
  padding-right: 1vw;
}
.location {
  overflow-wrap: break-word;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .bottom_nav {
    flex-direction: column;
    height: fit-content;
  }
  .bottom_nav .footcontainer {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .footcontainer img {
    margin: -9vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
  }
  .bottom_nav .left_text {
    font-size: 2vw;
  }
  .owned {
    width: 80%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 0 0 1vh 0;
    justify-content: center;
    font-size: 1.5vw;
  }
  .location {
    text-align: center;
    font-size: 1.5vw;
    width: 70%;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 480px) {
  .bottom_nav {
    flex-direction: column;
    height: 26vh;
  }
  .bottom_nav .footcontainer {
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
  }
  .bottom_nav .footcontainer img {
    width: 10vh;
    margin: -7vh 0 1vh 0;
  }
  .bottom_nav .container-right {
    flex-direction: column;
    justify-content: start;
    width: 70%;
  }
  .bottom_nav .left_text {
    font-size: 4vw;
  }
  .owned {
    font-size: 3.5vw;
    width: 100%;
  }
  .location {
    font-size: 3.5vw;
    width: 100%;
  }
}

/* mobile */
@media screen and (orientation: landscape) and (max-height: 430px) and (max-width: 915px) {
  .team {
    margin-top: 31vh;
  }
}
